body {
    font-family: Arial, sans-serif;
    background-color: #D9C3A1;
    margin: 0;
    padding: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-top: 0;
}

main {
    background-color: #A67C52;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}


h1 {
    color: #4A4A4A;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4A4A4A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333333;
}

#validationResult {
    margin-top: 20px;
    color: #FFFFFF;
}
